<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>GitHub Pull Request Manager</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="jumbotron text-center" style="width: 80%; margin: 0 auto;">
                    <div class="container">
                        <h1>Pull Request Manager</h1>
                    </div>
                </section>
            </div>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </div>
    <div class="row">
        <div>
            <h1>Add Record</h1>
        </div>
    </div>
    <div class="row">
        <fieldset>
            <legend>Enter new record here</legend>
            <form id="createForm">
              <div class="form-group">
                <label for="nameText" class="bmd-label-floating">Name</label>
                <input type="text" name="name" class="form-control" id="nameText">
                <span class="bmd-help">User Name</span>
              </div>
              <div class="form-group">
                <label for="countryText" class="bmd-label-floating">Country</label>
                <input type="text" name="country" class="form-control" id="countryText">
              </div>
              <input type="button" value="submit" onclick="createRecord()" class="btn btn-primary btn-raised">
            </form>
        </fieldset>
    </div>

    <script>

        let host = "http://127.0.0.1:8000";

        function clearForm(id){
                let form = document.querySelector(`#${id}`);
                for(let key in form.elements)
                    form.elements[key]="";
        }

        function ajaxGet(url, callback){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse('{"name":"keanu"}'));//any function passed will be called with the requestd data passed to it
                  }
                };
                xhr.open("GET", url);
                xhr.send();
        }

        function ajaxPost(url, data, callback){
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse(this.responseText));//IMPORTANT json string must be convertd to js object
                  }
                };
                xhr.open("POST", url);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(JSON.stringify(data));//IMPORTANT json data must be stringified
        }

        function createRecord(){
                let form = document.querySelector("#createForm");
            	let record = {
            		name: form.elements['name'].value,
            		country: form.elements['country'].value
            	};
            	clearForm("createForm");
                ajaxPost(`${host}/api/login`, record, loadRecords);//send data and redo templating to reflect changes
        }

        function recordsHandler(records){
                let k = 1;
            }

        function loadRecords(){
                console.log("loading records");
                ajaxGet(`${host}/api/pull_requests`, recordsHandler);
        }

        window.addEventListener('load', function() {
                console.log('All assets are loaded');
                loadRecords();//load our records
            
        })


    </script>
</body>
</html>
