{% extends "base.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                    {% if pull_request != None %}
                        <div class="row">
                            <h1>New Comment </h1>
                        </div>
                        <div class="row">
                            <div>
                                <fieldset>
                                <legend>New Comment For Pull Request: {{pull_request.id}}</legend>
                                <form method="POST" action="/api/pull_requests/process_comment/{{pull_request.id}}">
                                    <div class="form-group">
                                        <label for="pull_request_id" class="bmd-label-floating">Pull Request ID</label>
                                        <input type="text" name="request_id" value="{{pull_request.id}}" id="pull_request_id" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment_content_field" class="bmd-label-floating">Comment</label>
                                        <textarea  rows="5" cols="700" name="comment_content" class="form-control" id="comment_content_field" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                                </form>
                                </fieldset>
                            </div>            
                </div>
             </div>  
            {% else %}
                            <div class="row">
                                <div>
                                    <h1>Update Comment</h1>
                                </div>
                            </div>
                            <div class="row">
                                <fieldset>
                                    <legend>Edit Comment: {{review.id}}</legend>
                                    <form method="POST" action="/api/pull_requests/process_update/{{review.id}}">
                                    <div class="form-group">
                                        <label for="review.id" class="bmd-label-floating">Review ID</label>
                                        <input type="text" name="review_id" value="{{review.id}}" id="pull_request_id" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment_content_field" class="bmd-label-floating">Comment</label>
                                        <textarea  rows="5" cols="700" name="comment_content" placeholder="{{review.comment_content}}" class="form-control" id="comment_content_field" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                                     
                                </fieldset>
                            </div>
                        {% endif %}
         </div>      
{% endblock %}