{% extends "base.html" %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div id="myDiv"></div>

    <script type="text/javascript">
        var data = [
        ];
        var layout = {
            title: {
                text: 'Plot Title',
                font: {
                    family: 'Courier New, monospace',
                    size: 24
                },
                xref: 'paper',
                x: 0.05,
            },
            xaxis: {
                title: {
                    text: 'x Axis',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                },
            },
            yaxis: {
                title: {
                    text: 'y Axis',
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                }
            }
        };
        
        function retrieveData() {
            const url = "/api/all_pull_requests";
            console.log("Attempting to retrieve data from: " + url);
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let jaonData = JSON.parse(this.responseText);
                    toData(jaonData);
                }
            };
            xhttp.open("GET", url);
            xhttp.send();
        }
        function toData(jaonData) {
            let id = 1;
            let added = false;
            for (let x in jaonData) {
                for (let y in data) {
                    if (jaonData[x].author_name === data[y].name) {
                        //data[y].x.push(jaonData[x].date_created);
                        let newDate = new Date(jaonData[x].timestamp);
                       
                        data[y].x.push(newDate);
                        data[y].y.push(data[y].y[0]);
                        data[y].text.push("Comment: "+jaonData[x].pull_request_comment + "     Message: " +jaonData[x].pull_request_message);
                        added = true;
                    }
                }
                if (added === false) {
                    data.push({ x: [jaonData[x].date_created], y: [id], name: jaonData[x].author_name, type: 'scatter', text: [jaonData[x].commit_message] });
                    id++;
                }
                added = false;
            }
            updateGraph();
        }
        function updateGraph() {
            Plotly.newPlot('myDiv', data, layout);
            console.log(data);
        }
        retrieveData();
    </script>
{% endblock %}
